/*头部*/
.head{
	height:147px;
	border-top: 6px solid #CF0000;
}
.box{
	height: 70px;
}
.box1 img{
	width: 314px;
	height: 37px;
	float:left;
	margin-top:24px;
}
 p{
	float:right;
	margin-top:44px;
}
 p a{
	font-size:12px;
	color:#868686;
	font-family: '宋体';
}
 p span{
	color:#868686;
}
.box2{
	height: 147px;
}
.box2 .p1{
	width: 269px;
	height: 39px;
	font-size:14px;
	font-family:'宋体';
	margin-left:58px;
	margin-top:8px;
	border-left:2px solid #DEDEDE;
	padding-left:19px;
	float:left;
}
.box2 .p2{
	height: 39px;
	width: 235px;
	font-size:14px;
	font-family:'宋体';
	margin-left:20px;
	float:left;
	margin-top:8px;
}
.box2 p{
	font-size:16px;
	color:#868686;
	font-family:'宋体';
	float:right;
	margin-top:6px;
}
/*导航*/
.nav{
	height: 64px;
	background-color:#F4F4F4;
}
.ul1 li{
	padding-top: 18px;
	display:inline-block;
}
.ul1 li a{
	width: 71px;
	height: 33px;
	font-size:18px;
	font-family: '宋体';
	color:#131313;
	margin-right:40px;
}
.ul1 .active a{
	width: 71px;
	color:#C50000;
	padding-bottom:14px;
	border-bottom:2px solid #C50000;
}
/*banner*/
.banner img{
	width: 100%;
	height: 435px;
}
/*内容*/
.content{
	width: 100%;
	height:537px;
	background:url(../image/b1.jpg);
}
.za{
	float:left;
}
.za p{
	height: 38px;
	font-size:35px;
	color:#000000;
	font-family:'宋体';
	float:left;
	font-weight:bold;
	padding-left:19px;
	border-left:7px solid #EA5413;
}
.za span{
	font-size:26px;
	color:#6B6B6B;
	padding-left:9px;
}
.b2{
	float:left;
	position:relative;
}
.ul2{
	float:left;
	margin-top:32px;
	position:absolute;
	left:0;top:0;
}
.ul2 .li1{
	position:relative;
}
.ul2 .li1 a{
	width: 43px;
	height: 43px;
	color:#fff;
	font-size:20px;
	line-height:43px;
	text-align:center;
	font-weight:bold;
	margin-right:10px;
	display:inline-block;
	border-radius:50%;
	position:absolute;
	left:0;top:0;
	z-index:3;
	border-right:2px solid #fff;
	background-color:#6B6B6B;
}
.ul2 .li1 span{
	width: 259px;
	height: 37px;
	color:#fff;
	font-size:18px;
	line-height:37px;
	margin-top:4px;
	text-align:center;
	margin-left: -30px;
	display:inline-block;
	background-color:#FF0000;
	border-radius:20px;
	position:absolute;
	left:40px;top:0;
	z-index:1;
}
.ul2 .li1 p{
	width: 833px;
	height: 142px;
	font-size:14px;
	font-family: '宋体';
	text-align:center;
	line-height:24px;
	margin-top:50px;
	padding-left:27px;
	padding-right:30px;
	padding-top:27px;
	border-radius:10px;
	border:1px solid #BFBFBF;
	background-color:rgba(255, 255, 255,0.8);
}
.ul2 .li2{
	margin-top:236px;
	position:relative;
}
.ul2 .li2 a{
	width: 43px;
	height: 43px;
	color:#fff;
	font-size:20px;
	line-height:43px;
	text-align:center;
	font-weight:bold;
	margin-right:10px;
	display:inline-block;
	border-radius:50%;
	position:absolute;
	left:0;top:0;
	z-index:3;
	border-right:2px solid #fff;
	background-color:#FF0000;
}
.ul2 .li2 span{
	width: 259px;
	height: 37px;
	color:#fff;
	font-size:18px;
	line-height:37px;
	margin-top:4px;
	text-align:center;
	margin-left: -30px;
	display:inline-block;
	background-color:#6B6B6B;
	border-radius:20px;
	position:absolute;
	left:40px;top:0;
	z-index:1;
}
.ul2 .li3{
	margin-top:292px;
	position:relative;
}
.ul2 .li3 a{
	width: 43px;
	height: 43px;
	color:#fff;
	font-size:20px;
	line-height:43px;
	text-align:center;
	font-weight:bold;
	margin-right:10px;
	display:inline-block;
	border-radius:50%;
	position:absolute;
	left:0;top:0;
	z-index:3;
	border-right:2px solid #fff;
	background-color:#FF0000;
}
.ul2 .li3 span{
	width: 259px;
	height: 37px;
	color:#fff;
	font-size:18px;
	line-height:37px;
	margin-top:4px;
	text-align:center;
	margin-left: -30px;
	display:inline-block;
	background-color:#6B6B6B;
	border-radius:20px;
	position:absolute;
	left:40px;top:0;
	z-index:1;
}
.ul2 .li4{
	margin-top:349px;
	position:relative;
}
.ul2 .li4 a{
	width: 43px;
	height: 43px;
	color:#fff;
	font-size:20px;
	line-height:43px;
	text-align:center;
	font-weight:bold;
	margin-right:10px;
	display:inline-block;
	border-radius:50%;
	position:absolute;
	left:0;top:0;
	z-index:3;
	border-right:2px solid #fff;
	background-color:#FF0000;
}
.ul2 .li4 span{
	width: 259px;
	height: 37px;
	color:#fff;
	font-size:18px;
	line-height:37px;
	margin-top:4px;
	text-align:center;
	margin-left: -30px;
	display:inline-block;
	background-color:#6B6B6B;
	border-radius:20px;
	position:absolute;
	left:40px;top:0;
	z-index:1;
}
.right img{
	width: 455px;
	height: 383px;
	float:right;
	margin-top:32px;
}
/*第二块*/
.content1{
	width: 100%;
	height: 510px;
	background:url(../image/b2.jpg);
}
.wang{
	float:left;
}
.wang p{
	height: 38px;
	font-size:35px;
	color:#000000;
	font-family:'宋体';
	float:left;
	font-weight:bold;
	padding-left:19px;
	border-left:7px solid #EA5413;
}
.wang span{
	font-size:26px;
	color:#6B6B6B;
	padding-left:9px;
}
.b4{
	float:left;
	position:relative;
}
.ul3{
	width: 827px;
	height: 348px;
	margin-top:44px;
	margin-left:60px;
	background-color:#000000;
}
.ul3 li{
	margin-left:55px;
	margin-top:61px;
	display:inline-block;
}
.ul3 .li2 img{
	margin-top:-20px;
}
.top{
	width: 355px;
	height: 114px;
	float:left;
	position:absolute;
	left:240px; top:0;
	margin-top:-30px;
	border-radius:10px;
	border:1px solid #CBD4DC;
	background-color:#F4F2EB;
}
.top h3{
	font-size:18px;
	color:#678EB1;
	font-family:'宋体';
	padding-top:19px;
	padding-left:24px;
}
.top p{
	font-size:14px;
	color:#626262;
	margin-top:2px;
	font-family:'宋体';
	padding-left:24px;
	padding-right:19px;
	line-height:19px;
}
.content3{
	width: 100%;
	height: 500px;
	background:url(../image/b3.jpg);
}
.ying{
	float:left;
}
.ying p{
	height: 38px;
	font-size:35px;
	color:#000000;
	font-family:'宋体';
	float:left;
	font-weight:bold;
	padding-left:19px;
	border-left:7px solid #EA5413;
}
.ying span{
	font-size:26px;
	color:#6B6B6B;
	padding-left:9px;
}
.b6{
	float:left;
}
.ul4{
	float:left;
	margin-top:45px;
	margin-left:100px;
}
.ul4 .li3{
	width: 303px;
	height: 90px;
	background-color:#E0DDDD;
}
.ul4 .li3 img{
	width: 275px;
	height: 55px;
	padding-top:16px;
	padding-left:15px;
}
.ul4 li{
	width: 303px;
	height: 90px;
	background-color:#EAEAEA;
}
.ul4 li img{
	width: 275px;
	height: 55px;
	padding-top:16px;
	padding-left:15px;
}
.b6_right{
	width: 455px;
	height: 381px;
	float:left;
	margin-left:15px;
	position:relative;
	background-color:#CCC7C7;
}
.b6_right img{
	width: 239px;
	height: 162px;
	margin-top:30px;
	margin-left:32px;
}
.b6_right p{
	font-size:14px;
	color:#000000;
	float:right;
	font-family:'宋体';
	margin-top:0;
	line-height:20px;
	padding-right:34px;
	padding-top:36px;
	position:absolute;
	left:290px; top:0;
}
.b6_right h6{
	width: 384px;
	height: 40px;
	font-size:14px;
	color:#000000;
	text-indent:22px;
	font-family:'宋体';
	font-weight:normal;
	margin-top:5px;
	margin-left:34px;
}
.content4{
	width: 100%;
	height: 490px;
	background:url(../image/b4.jpg);
}
.xin{
	float:left;
}
.xin p{
	height: 38px;
	font-size:35px;
	color:#000000;
	font-family:'宋体';
	float:left;
	font-weight:bold;
	padding-left:19px;
	border-left:7px solid #EA5413;
}
.xin span{
	font-size:26px;
	color:#6B6B6B;
	padding-left:9px;
}
.b8{
	float:left;
}
.ul5{
	margin-top:53px;
	float:left;
	position:relative;
}
.ul5 li{
	width: 191px;
	height: 255px;
	margin-right:26px;
	display:inline-block;
}
.ul5 li img{
	width: 190px;
	height: 190px;
}
.ul5 li p{
	width: 188px;
	height: 55px;
	font-size:18px;
	color:#fff;
	border-radius:10px;
	text-align:center;
	margin-top:10px;
	font-family:'微软雅黑';
	background-color:#20939C;
}
.ul5 li span{
	font-size:16px;
	color:#fff;
	font-family:'微软雅黑';
	display:inline-block;
}
.cen p{
	width: 279px;
	height: 259px;
	font-size:14px;
	font-family:'宋体';
	position:absolute;
	left:520px;
	line-height:22px;
	margin-top:56px;
	padding-top:26px;
	padding-left:18px;
	padding-right:22px;
	background-color:#DCDCDC;
}
.content5{
	width: 100%;
	height: 535px;
	background:url(../image/b5.jpg);
}
.xiao{
	float:left;
}
.xiao p{
	height: 38px;
	font-size:35px;
	color:#fff;
	font-family:'宋体';
	float:left;
	font-weight:bold;
	padding-left:19px;
	border-left:7px solid #EA5413;
}
.xiao span{
	font-size:26px;
	color:#fff;
	padding-left:9px;
}
.b10{
	float:left;
}
.ul6{
	float:left;
}
.ul6 li{
	width: 147px;
	height: 135px;
	margin-top:47px;
	border-radius:10px;
	background-color:#E8E8E8;
}
.ul6 li img{
	width: 130px;
	height: 100px;
	padding-top:15px;
    padding-left:7px;
}
.c2{
	width: 703px;
	height: 285px;
	float:left;
}
.c2 .a1{
	font-size:18px;
	font-family:'宋体';
	color:#fff;
    margin-top:45px;
    margin-left:40px;
}
.c2 li{
    font-size:14px;
    font-family:'宋体';
    color:#fff;
	text-indent:21px;
    margin-left:60px;
    line-height:24px;
}
.content6{
	width: 100%;
	height: 371px;
	background-color:#D9E0E5;
}
.zhi{
	float:left;
}
.zhi p{
	height: 45px;
	font-size:32px;
	color:#000;
	font-family:'宋体';
	float:left;
	padding-left:19px;
	margin-top:24px;
	border-left:3px solid #EA5413;
}
.b12{
	float:left;
}
.ul9{
	float:left;
}
.ul9 .d1{
	width: 126px;
	height: 24px;
	font-size:14px;
	font-weight:bold;
	font-family: '宋体';
	text-align:center;
	border-radius:10px;
	padding-top:10px;
	margin-top:18px;
	margin-bottom:59px;
	background-color:#fff;
}
.ul9 li{
	width: 126px;
	height: 24px;
	font-size:14px;
	font-weight:bold;
	font-family: '宋体';
	text-align:center;
	border-radius:10px;
	padding-top:10px;
	background-color:#fff;
}
.d2{
	width: 353px;
	height: 77px;
	float:left;
	margin-left:33px;
	margin-top:20px;
	border-radius:10px;
	background-color:#fff;
}
.d2 img{
	width: 52px;
	height: 63px;
	float:left;
	padding-top:4px;
	padding-left:22px;
}
.d2 a{
	font-size:14px;
	color:#000;
	font-family: '宋体';
	padding-top:18px;
	padding-left:17px;
	text-align:left center;
}
.d2 span{
	font-size:14px;
	color:#000;
	font-family: '宋体';
	display:inline-block;
}
.hui{
	width: 353px;
	height: 77px;
	float:right;
	margin-left:22px;
	margin-top:20px;
	border-radius:10px;
	background-color:#fff;
}
.hui img{
	width: 52px;
	height: 63px;
	float:left;
	padding-top:4px;
	padding-left:22px;
}
.hui a{
	font-size:14px;
	color:#000;
	font-family: '宋体';
	padding-left:17px;
	padding-top:18px;
	text-align:left center;
}
.hui span{
	font-size:14px;
	color:#000;
	font-family: '宋体';
	display:inline-block;
}
.d6{
	width: 731px;
	height: 78px;
	float:left;
}
.d3 img{
	width: 100px;
	height: 51px;
	float:left;
	margin-top:13px;
	margin-left:35px;
	margin-bottom:13px;
}
.d4 img{
	width: 100px;
	height: 51px;
	float:left;
	margin-top:13px;
	margin-left:32px;
	margin-bottom: :13px;
}
.d5{
	width: 458px;
	height: 127px;
	float:left;
	margin-left:47px;
	background-color:#fff;
}
.d5 li{
	font-size:14px;
	color:#000;
	font-family:'宋体';
	padding-left:38px;
	line-height:24px;
}
.d5 .a7{
	padding-top:20px;
}
.content7{
	width: 100%;
	height: 580px;
	background-color:#D9E0E5;
}
.fen{
	float:left;
}
.fen p{
	height: 45px;
	font-size:32px;
	color:#000;
	font-family:'宋体';
	float:left;
	padding-left:19px;
	margin-top:24px;
	border-left:3px solid #EA5413;
}
.b14{
	float:left;
}
.c3 img{
	float:left;
	margin-top:56px;
}
.ul7{
	float:right;	
}
.ul7 .a5{
	height: 30px;
	background-color:#000;
	border-radius:10px 10px 0 0;
}
.a5 a{
	font-size:14px;
	color:#fff;
	font-family:'宋体';
	font-weight:bold;
	padding-top:10px;
	padding-left:16px;
}
.a5 img{
	float:right;
	padding-top:4px;
	padding-right:15px;
}
.ul7 .a6{
	width: 322px;
	height: 55px;
	padding-left:23px;
	padding-top:18px;
	background-color:#fff;
}
.a6 a{
	font-size:12px;
	color:#000;
	font-family:'宋体';
}
.a6 span{
	width: 310px;
	font-size:12px;
	color:#000;
	font-family:'宋体';
	display:inline-block;
	padding-bottom:9px;
	border-bottom:1px dashed #979797;
}
.ul8{
	width: 344px;
	height: 179px;
	float:right;
	margin-top:12px;
	background-color:#fff;
}
.ul8 .a8{
	padding-top:19px;
}
.ul8 li{
	font-size:14px;
	color:#000;
	font-family:'宋体';
	padding-left:20px;
	line-height:24px;
}
/*底部*/
.footer{
	width: 100%;
	height: 93px;
	background-color:#000;
}
.c3 p{
	font-size:12px;
	color:#fff;
	float:left;
	text-align:center;
	font-family:'宋体';
	margin-left:206px;
}
.c3 span{
	font-size:12px;
	color:#fff;
	font-family:'宋体';
	margin-left:43px;
}
